<!DOCTYPE html>
<html >


<body>
 <div class="login">
	<h1>Predict stroke</h1>
     <h3> Fill the form to predict the probability of stroke</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="age" placeholder="Age" required="required" />
        <br>
        hypertension
        <input type="radio" name = "hypertension" value="1"> yes
         <input type="radio"name = "hypertension" value="0"> no
        <br>
        heart_disease
        <input type="radio" name = "heart_disease" value="1"> yes
        <input type="radio"name = "heart_disease" value="0"> no
        <br>
        ever_married
        <input type="radio" name = "ever_married" value="1"> yes
        <input type="radio"name = "ever_married" value="0"> no
        <br>
        Residence_type
        <input type="radio" name = "Residence_type" value="1"> Rural
        <input type="radio"name = "Residence_type" value="0"> Urban
        <br>
        <input type="text" name="avg_glucose_level" placeholder="avg_glucose_level" required="required" />
        <br>
        <input type="text" name="bmi" placeholder="bmi" required="required" />
        <br>
        <input type="text" name="gender_encoded_Female" placeholder="gender_encoded_Female" required="required" />
         <br>
        <input type="text" name="gender_encoded_Male" placeholder="gender_encoded_Male" required="required" />
         <br>
        <input type="text" name="gender_encoded_Other" placeholder="gender_encoded_Other" required="required" />
         <br>
        <input type="text" name="work_type_encoded_Govt_job" placeholder="work_type_encoded_Govt_job" required="required" />
         <br>
        <input type="text" name="work_type_encoded_Never_worked" placeholder="work_type_encoded_Never_worked" required="required" />
         <br>
        <input type="text" name="work_type_encoded_Private" placeholder="work_type_encoded_Private" required="required" />
         <br>
        <input type="text" name="work_type_encoded_Self-employed " placeholder="work_type_encoded_Self-employed" required="required" />
         <br>
        <input type="text" name="work_type_encoded_children" placeholder="work_type_encoded_children" required="required" />
         <br>
        <input type="text" name="smoking_status_encode_Unknown" placeholder="smoking_status_encode_Unknown" required="required" />
         <br>
        <input type="text" name="smoking_status_encode_formerly smoked" placeholder="smoking_status_encode_formerly smoked" required="required" />
         <br>
        <input type="text" name="smoking_status_encode_never smoked" placeholder="smoking_status_encode_never smoked" required="required" />
         <br>
        <input type="text" name="smoking_status_encode_smokes" placeholder="smoking_status_encode_smokes" required="required" />
         <br>
        <button type="submit" class="btn">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>